[Desktop Entry]
Type=Application
Name=DLT Viewer
GenericName=Diagnostic Log and Trace Viewer needed for devices running DLT daemon
Exec=dlt-viewer %u
Icon=org.genivi.DLTViewer
Terminal=false
Categories=Development;
