Source: genivi-dlt-viewer
Section: Development
Priority: optional
Maintainer: AlexanderWenzel <alexmucde@gmail.com>
Build-Depends: debhelper (>= 9), qt5-default

Package: genivi-dlt-viewer
Architecture: any
Depends: ${shlibs:Depends}
Description: GENIVI DLT Viewer
 DLT is a reusable open source software component for standardized
 logging and tracing in infotainment ECUs based on the AUTOSAR 4.0
 standard. The goal of DLT is the consolidation of the existing
 variety of logging and tracing protocols on one format.
 DLT Viewer is a graphical DLT Client written in C++/Qt to receive
 and decode logs and traces from an infotainment ECU.
 The Open Source Project is hosted by the GENIVI organisation.
 More information can be found on the homepage of the project:
 https://github.com/COVESA/dlt-viewer 

Package: genivi-dlt-viewer-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: GENIVI DLT Viewer Development files
 DLT is a reusable open source software component for standardized
 logging and tracing in infotainment ECUs based on the AUTOSAR 4.0
 standard. The goal of DLT is the consolidation of the existing
 variety of logging and tracing protocols on one format.
 DLT Viewer is a graphical DLT Client written in C++/Qt to receive
 and decode logs and traces from an infotainment ECU.
 The Open Source Project is hosted by the GENIVI organisation.
 More information can be found on the homepage of the project:
 https://github.com/COVESA/dlt-viewer 

