[Desktop Entry]
Type=Application
Name=DLT Viewer
GenericName=Diagnostic Log and Trace Viewer needed for devices running DLT daemon
Exec=dlt_viewer %u
Icon=face-glasses
Terminal=false
Categories=Qt;KDE;Development;System;
