name: PullRequest

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  buildMac:
    name: Build macOS
    runs-on: ${{ matrix.macos }}
    strategy:
      matrix:
        macos: [ macos-12 ]
        xcode: [ Xcode_14.1.0 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Investigate available XCode versions
        run: ls -n /Applications/ | grep Xcode*
      - name: Set XCode Version
        run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
      - name: install build environment
        run: scripts/darwin/install.sh
      - name: Show cmake version
        run: cmake --version
      - name: Build project
        run: scripts/darwin/build.sh
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: DLTViewer-${{ matrix.macos }}-x86_64
          path: build/dist/DLTViewer*.tgz

  buildLinux:
    name: Build ${{ matrix.ubuntu }}
    strategy:
      matrix:
        ubuntu: [ ubuntu-20.04 ]
    runs-on: ${{ matrix.ubuntu }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: install build environment
        run: scripts/linux/install.sh
      - name: Build project
        run: scripts/linux/build.sh
      - name: Make artifact executable
        run: chmod -R +x build/dist
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: DLTViewer-linux-x86_64
          path: build/dist/DLTViewer*.tgz

  buildWindows:
    name: Build Windows
    strategy:
      matrix:
        task: [ sdk ]
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 5.12.12
      - name: Build with CMake ${{ matrix.task }}
        run: >
          $env:WORKSPACE=$env:GITHUB_WORKSPACE;
          $env:QTDIR=$env:Qt5_DIR.Replace('/','\');
          $env:CPACK_7Z="true";
          $env:CPACK_NSIS="true";
          ./build_sdk_windows_qt5_MSVC_cmake.bat
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: DLTViewer-windows-x86_64
          path: |
            build/dist/DLTViewer*.7z
            build/dist/DLTViewer*.exe
            build/dist/*.md
