name: PullRequest

on: [pull_request]

jobs:
  buildMac:
    name: Build macOS
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode: [Xcode_12.2, Xcode_12.3, Xcode_11.7]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
          submodules: true
      - name: Investigate available XCode versions
        run: ls -n /Applications/ | grep Xcode*
      - name: Set XCode Version
        run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
      - name: install qt
        run: brew install qt
      - name: install build environment
        run: scripts/install.sh
      - name: Build project
        run: scripts/build.sh
      - name: Archive artifact
        uses: actions/upload-artifact@v2.0.1
        if: ${{ success() }}
        with:
          name: DLT-macOS ${{ matrix.xcode }}
          path: build/release

  buildLinux:
    name: Build ${{ matrix.ubuntu }}
    strategy:
      matrix:
        ubuntu: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]
    runs-on: ${{ matrix.ubuntu }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
          submodules: true
      - name: install build environment
        run: scripts/install.sh
      - name: Build project
        run: scripts/build.sh
      - name: Archive artifact
        uses: actions/upload-artifact@v2.0.1
        if: ${{ success() }}
        with:
          name: DLT ${{ matrix.ubuntu }}
          path: build/release

  # windows build is work in progress
  buildWindows:
    name: Build Windows
    strategy:
      matrix:
        task: [parser, sdk]
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
          submodules: true
      - name: Install qt
        uses: jurplel/install-qt-action@v2
        with:
          mirror: http://ftp.fau.de/qtproject/
          version: 5.12.10
      - name: Build ${{ matrix.task }}
        run: $env:WORKSPACE=$env:GITHUB_WORKSPACE; $env:QTDIR=$env:Qt5_DIR.Replace('/','\'); ./build_${{ matrix.task }}_windows_qt5_MSVC.bat
      - name: Archive artifact
        uses: actions/upload-artifact@v2.0.1
        if: ${{ success() }}
        with:
          name: DLT ${{ matrix.task }}
          path: build/dist
