---
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  buildMac:
    name: Build macOS
    runs-on: macos-12
    strategy:
      matrix:
        xcode: [ Xcode_14.1.0 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Investigate available XCode versions
        run: ls -n /Applications/ | grep Xcode*
      - name: Set XCode Version
        run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app
      - name: install qt 5
        run: brew install qt@5
      - name: install build environment
        run: scripts/darwin/install.sh
      - name: Build project
        run: scripts/darwin/build.sh
      - name: Archive artifact
        run: zip DLT-macOS.zip -r build/dist
      - name: Upload DLT artifact
        uses: actions/upload-artifact@v4
        with:
          name: DLT-Mac
          path: DLT-macOS.zip

  buildLinux:
    name: Build ${{ matrix.ubuntu }}
    strategy:
      matrix:
        ubuntu: [ ubuntu-20.04 ]
    runs-on: ${{ matrix.ubuntu }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: install build environment
        run: scripts/linux/install.sh
      - name: Build project
        run: scripts/linux/build.sh
      - name: Make artifact executable
        run: chmod -R +x build/dist
      - name: Archive artifact
        run: zip DLT-Linux.zip -r build/dist
      - name: Upload DLT artifact
        uses: actions/upload-artifact@v4
        with:
          name: DLT-Linux
          path: DLT-Linux.zip

  buildWindows:
    name: Build Windows
    strategy:
      matrix:
        task: [ parser, sdk ]
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install qt
        uses: jurplel/install-qt-action@v3
        with:
          mirror: http://ftp.fau.de/qtproject/
          version: 5.12.12
      - name: Build ${{ matrix.task }}
        run: >
          $env:WORKSPACE=$env:GITHUB_WORKSPACE; $env:QTDIR=$env:Qt5_DIR.Replace('/','\');
          ./build_${{ matrix.task }}_windows_qt5_MSVC.bat
      - name: Archive artifact
        run: >
          Compress-Archive -Path .\build\dist -DestinationPath
          DLT-Windows-${{ matrix.task }}.zip
      - name: Upload DLT artifact
        uses: actions/upload-artifact@v4
        with:
          name: DLT-Windows-${{ matrix.task }}
          path: DLT-*.zip

  createRelease:
    name: Create release
    runs-on: ubuntu-20.04
    needs: [ buildMac, buildLinux, buildWindows ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Download DLT Linux artifacts
        uses: actions/download-artifact@v3
        with:
          name: DLT-Linux
      - name: Download DLT macOS artifacts
        uses: actions/download-artifact@v3
        with:
          name: DLT-Mac
      - name: Download DLT Windows parser artifacts
        uses: actions/download-artifact@v3
        with:
          name: DLT-Windows-parser
      - name: Download DLT Windows sdk artifacts
        uses: actions/download-artifact@v3
        with:
          name: DLT-Windows-sdk

      - name: Find Tag
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          skip-unshallow: 'true'
          abbrev: false
          commit-ish: HEAD
      - name: Check pre-release
        run: |
          echo "tag=${{steps.tagger.outputs.tag}}"
          if [[ ${{ steps.tagger.outputs.tag }} == *alpha* || ${{ steps.tagger.outputs.tag }} == *beta* ]]
          then
             prerelease=true
          else
             prerelease=false
          fi
          echo "PRE_RELEASE=$prerelease" >> $GITHUB_ENV
          echo "prerelease=$prerelease"
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{steps.tagger.outputs.tag}}
          generate_release_notes: true
          prerelease: ${{ env.PRE_RELEASE }}
          name: ${{steps.tagger.outputs.tag}}
          files: |
            DLT-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}